@model IEnumerable<BTRS.Models.bus>

@{
    ViewData["Title"] = "Index";
}

<style>


    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

        .table th, .table td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
        }

        .table th {
            background-color: cadetblue;
        }

        .table a {
            color: #007bff; 
            text-decoration: none;
        }

            .table a:hover {
                text-decoration: underline;
            }

</style>
<style>


    .table a.details-link,
    .table a.delete-link, 
    .table a.edit-link {
        display: inline-block;
        padding: 6px 12px;
        margin-right: 5px;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

    .table a.details-link {
        background-color: cadetblue;
    }

    .table a.edit-link {
        background-color: cadetblue;
    }
    .table a.delete-link {
        background-color: red;
    }

        

</style>

<h1>Administrator Buses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaptainName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSeats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.BusID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaptainName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSeats)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.BusID" class="details-link">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.BusID" class="edit-link">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.BusID" class="delete-link">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
