@model BTRS.Models.administrator
<style>
    form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f4f4f4;
        border: 1px solid #ccc;
        border-radius: 5px;
    }


    table {
        width: 100%;
    }

    td {
        padding: 10px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }


    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }


    input[type="submit"] {
        background-color: #ff0000;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }


        input[type="submit"]:hover {
            background-color: #ff0000;
        }



    a.btn-signup {
        display: inline-block;
        padding: 10px 15px;
        background-color: black;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }


        a.btn-signup:hover {
            background-color: black;
        }

</style>

@using (Html.BeginForm("Login", "administrator", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.TextBoxFor(m => m.Username)
    </div>

    <div>
        @Html.PasswordFor(m => m.Password)
    </div>

    <div>
        <input type="submit" value="Login" />
    </div>

    <br />

    <a href="@Url.Action("SignUp", "administrator")" class="btn-signup">SignUp</a>

    @TempData["Msg"]
}