@model BTRS.Models.trip

@{
    ViewData["Title"] = "Details";
}
<style>
    h1 {
        color: #007bff; 
    }

    h4 {
        color: #007bff;
    }

    hr {
        border-color: #007bff; 
    }

    .row {
        margin-top: 20px;
    }

    .col-sm-2 {
        font-weight: bold;
        color: #333; 
    }

    .col-sm-10 {
        margin-bottom: 15px;
    }

    a {
        color: #007bff; 
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }

    .btn-edit {
        background-color: #28a745; 
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
    }

        .btn-edit:hover {
            background-color: #218838; 
        }

    .btn-back {
        background-color: #007bff; 
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
    }

        .btn-back:hover {
            background-color: #0056b3; 
        }
</style>


<h1>Details</h1>

<div>
    <h4>trip</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TripID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TripID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TripID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
