@model IEnumerable<BTRS.Models.trip>

@{
    ViewData["Title"] = "Index";
}
<style>


    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

        .table th, .table td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
        }

        .table th {
            background-color: cadetblue;
        }

        .table a {
            color: #007bff; 
            text-decoration: none;
        }

            .table a:hover {
                text-decoration: underline;
            }

  
</style>
<style>


    .table a.details-link,
    .table a.delete-link, 
    .table a.edit-link {
        display: inline-block;
        padding: 6px 12px;
        margin-right: 5px;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

    .table a.details-link {
        background-color: cadetblue;
    }

    .table a.edit-link {
        background-color: cadetblue;
    }

    
    .table a.delete-link {
        background-color: red;
    }
</style>

<style>
    .create-link {
        background-color: cadetblue; 
        padding: 6px 12px;
        color: black;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

    a.logout-link {
        background-color: #ff0000;
        color: white;
        padding: 6px 12px;
        margin-right: 5px;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

</style>
<h1>Administrator Trips</h1>
<p>
    <a asp-action="Create" class="create-link">Create New</a>
</p>
    
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TripID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(model => item.TripID)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusNumber)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.TripID" class="details-link">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.TripID" class="edit-link">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.TripID" class="delete-link">Delete</a> 
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="LogOut" class="logout-link">Logout</a>